@import "../../global.scss";

.portfolioList{
        font-size: 15px;
        margin-right: 15px;
        padding: 7px;
        border-radius: 5px;
        cursor: pointer;
        overflow: hidden;

        @include mobile{
            margin-right: 10px;
        }

        &.active{
            background-color: $mainColor;
            color: white;
            padding: 5px;
        }
    }